
Configs/Default/HTML5/fav.ico

Configs/Default/HTML5/splash.png

Configs/Default/iOS/icons/app/ipad_152.png

Configs/Default/iOS/icons/app/ipad_76.png

Configs/Default/iOS/icons/app/ipad_pro_167.png

Configs/Default/iOS/icons/app/iphone_120.png

Configs/Default/iOS/icons/app/iphone_180.png

Configs/Default/iOS/icons/icon114.png

Configs/Default/iOS/icons/icon120.png

Configs/Default/iOS/icons/icon144.png

Configs/Default/iOS/icons/icon152.png

Configs/Default/iOS/icons/icon167.png

Configs/Default/iOS/icons/icon57.png

Configs/Default/iOS/icons/icon72.png

Configs/Default/iOS/icons/icon76.png

Configs/Default/iOS/icons/itunes/itunes_1024.png

Configs/Default/iOS/icons/notification/ipad_20.png

Configs/Default/iOS/icons/notification/ipad_40.png

Configs/Default/iOS/icons/notification/iphone_40.png

Configs/Default/iOS/icons/notification/iphone_60.png

Configs/Default/iOS/icons/settings/ipad_29.png

Configs/Default/iOS/icons/settings/ipad_58.png

Configs/Default/iOS/icons/settings/iphone_58.png

Configs/Default/iOS/icons/settings/iphone_87.png

Configs/Default/iOS/icons/spotlight/ipad_40.png

Configs/Default/iOS/icons/spotlight/ipad_80.png

Configs/Default/iOS/icons/spotlight/iphone_120.png

Configs/Default/iOS/icons/spotlight/iphone_80.png

Configs/Default/iOS/iPadRetinaSplash.png

Configs/Default/iOS/iPadRetinaSplashPortrait.png

Configs/Default/iOS/iPadsplash.png

Configs/Default/iOS/iPadsplashPortrait.png

Configs/Default/iOS/iPhone5splash.png

Configs/Default/iOS/iPhone5splashPortrait.png

Configs/Default/iOS/iPhone6PlusSplash.png

Configs/Default/iOS/iPhone6PlusSplashPortrait.png

Configs/Default/iOS/iPhone6Splash.png

Configs/Default/iOS/iPhone6SplashPortrait.png

Configs/Default/iOS/iPhone7PlusSplash.png

Configs/Default/iOS/iPhone7PlusSplashPortrait.png

Configs/Default/iOS/iPhone7Splash.png

Configs/Default/iOS/iPhone7SplashPortrait.png

Configs/Default/iOS/iPhone8PlusSplash.png

Configs/Default/iOS/iPhone8PlusSplashPortrait.png

Configs/Default/iOS/iPhone8Splash.png

Configs/Default/iOS/iPhone8SplashPortrait.png

Configs/Default/iOS/iPhoneRetinasplash.png

Configs/Default/iOS/iPhoneRetinasplashPortrait.png

Configs/Default/iOS/iPhoneSEsplash.png

Configs/Default/iOS/iPhoneSEsplashPortrait.png

Configs/Default/iOS/iPhonesplash.png

Configs/Default/iOS/iPhonesplashPortrait.png

Configs/Default/iOS/iPhoneXSplash.png

Configs/Default/iOS/iPhoneXSplashPortrait.png

Configs/Default/iOS/splash.png

Configs/Default/iOS/splashPortrait.png

Configs/Default/WindowsUAP/logos/LargeLogo.scale-100.png

Configs/Default/WindowsUAP/logos/Logo.scale-100.png

Configs/Default/WindowsUAP/logos/SmallishLogo.scale-100.png

Configs/Default/WindowsUAP/logos/SmallLogo.scale-100.png

Configs/Default/WindowsUAP/logos/StoreLogo.scale-100.png

Configs/Default/WindowsUAP/logos/WideLogo.scale-100.png

Configs/Default/WindowsUAP/SplashScreen.scale-100.png

Configs/Default/WindowsUAP/WinUWPRunner_TemporaryKey.pfx
Configs/Default/WinPhone/ApplicationIcon.png
Configs/Default/WinPhone/CycleSmall.png
Configs/Default/WinPhone/CycleWide1.png
Configs/Default/WinPhone/CycleWide2.png
Configs/Default/WinPhone/CycleWide3.png
Configs/Default/WinPhone/CycleWide4.png
Configs/Default/WinPhone/CycleWide5.png
Configs/Default/WinPhone/CycleWide6.png
Configs/Default/WinPhone/CycleWide7.png
Configs/Default/WinPhone/CycleWide8.png
Configs/Default/WinPhone/CycleWide9.png
Configs/Default/WinPhone/FlipMedBack.png
Configs/Default/WinPhone/FlipMedFront.png
Configs/Default/WinPhone/FlipSmallBack.png
Configs/Default/WinPhone/FlipSmallFront.png
Configs/Default/WinPhone/FlipWideBack.png
Configs/Default/WinPhone/FlipWideFront.png
Configs/Default/WinPhone/IconicSmall.png
Configs/Default/WinPhone/IconicWide.png
Configs/Default/WinPhone/SplashScreenImage.jpg
Configs/Default/WinPhone/SplashScreenImage480.jpg
Configs/Default/WinPhone/SplashScreenImage720.jpg
